.footer{
    background-color: #222;
    color: #FFF;
    padding: 1.5em 3em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.social_list li {
    margin: 0 1em;
    transition: .5s;
}

.social_list li:hover {
    color: #fb3;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 1em;
}

.copy_right span {
    font-weight: bold;
    color: #fb3
}